

.eventsimages
{

position:relative;
float:left;

    margin:20px 60px 0px 60px;

}

/* centered columns styles */
.row-centered {
    text-align:center;

  }
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:0px;
}
/*#containerbox2
{
	margin-left: 0px;
	position: absolute;
	height: 440px;
	top: 300px;
	width:700px;

}*/
